<!--加载头部-->
{include file='public/header' /}
<!--加载nav-->
{include file='public/nav'}
<!--加载menu-->
{include file='public/menu'}

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="{:url('admin/index/index')}">首页</a>
            </li>
            <li class="">后台管理</li>
            <li class="">系统角色管理</li>
            <li class="active">添加角色</li>
        </ul><!-- .breadcrumb -->
        <!-- <div class="nav-search" id="nav-search">
             <form class="form-search">
                 <span class="input-icon">
                     <input type="text" placeholder="搜索" class="nav-search-input" id="nav-search-input" autocomplete="off" />
                     <i class="icon-search nav-search-icon"></i>
                 </span>
             </form>
         </div>--><!-- #nav-搜索 -->
    </div>
    <div class="space-12"></div>
    <div class="col-sm-12">
        <div class="widget-box">
            <div class="widget-header"><h3>添加系统角色</h3></div>
            <div class="widget-body">
                <div class="widget-main">
                    <form role="form" class="form-horizontal">
                        <div class="space-12"></div>
                        <div class="form-group">
                            <lable class="col-sm-3 control-label no-padding-right" for="form-field-1">角色名称</lable>
                            <lable class="col-sm-9">
                                <input type="text" class="col-xs-10 col-sm-5" placeholder="角色名称">
                            </lable>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--加载尾部-->
{include file='public/footer' /}