<!--加载头部-->
{include file='public/header' /}
<!--加载nav-->
{include file='public/nav'}
<!--加载menu-->
{include file='public/menu'}
<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="{:url('admin/index/index')}">首页</a>
            </li>
            <li class="">后台管理</li>
            <li class="">系统角色管理</li>
            <li class="active">角色列表</li>
        </ul><!-- .breadcrumb -->
        <!-- <div class="nav-search" id="nav-search">
             <form class="form-search">
                 <span class="input-icon">
                     <input type="text" placeholder="搜索" class="nav-search-input" id="nav-search-input" autocomplete="off" />
                     <i class="icon-search nav-search-icon"></i>
                 </span>
             </form>
         </div>--><!-- #nav-搜索 -->
    </div>
    <div class="page-content">
        <div class="page-header">
            <h1>角色列表</h1>
        </div>
        <div class="space-12"></div>
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="center">
                                <label>
                                    <input type="checkbox" class="ace"><span class="lbl"></span>
                                </label>
                            </th>
                            <th class="">角色ID</th>
                            <th class="">角色名称</th>
                            <th class="">角色状态</th>
                            <th class="">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                            {volist name="data" id="val"}
                                <tr>
                                    <td class="center">
                                        <input type="checkbox" class="ace"><span class="lbl"></span>
                                    </td>
                                    <td class="">{$val.id}</td>
                                    <td class="">
                                        {if condition="$val.level neq 0"}|{/if}<?php echo str_repeat('-',$val['level']*4);?>
                                        {$val.name}
                                    </td>
                                    <td class="">
                                        {if condition="$val.status eq 1"}
                                        <span class="label label-success arrowed">正常</span>
                                        {else /}
                                        <span class="label label-danger arrowed">禁止</span>
                                        {/if}
                                    </td>
                                    <td class="left">
                                        <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                                            <a class="green" href="#">
                                                <i class="icon-pencil bigger-130"></i>
                                            </a>
                                            <a href="#" class="red">
                                                <i class="icon-trash bigger-130"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {/volist}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
<!--加载尾部-->
{include file='public/footer' /}